h1{
    text-align: center;
    background-color: rgb(161, 123, 197);
    font-size: 45px;
    border: solid;
    border-width: 5px;
    border-radius: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    }
    h1:hover{
    background-image: radial-gradient(blue,black);
    color: white;
    }
    ul{
    list-style: none;
    }
    body{
    
        text-align: center;
    }
    a{
    font-size: 30px;
    color: white;
    }
    a:hover{
    color: blueviolet;
    }
    table{
    padding: auto;
    margin: auto;
    font-size: 40px;
    background-image: radial-gradient(rgb(204, 0, 255),black);
    color: white;
    
    }
    table:hover{
    
    background-image: radial-gradient(rgb(0, 255, 221),black);
    color: white;
    }
    h3{
        background-color: rgb(161, 123, 197);
        font-size: 30px;
        border: solid;
        border-width: 5px;
        border-radius: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    }
    h3:hover{
        background-image: radial-gradient(blue,black);
        color: white;
    }
    #text{
    transform: skew(30deg);
        border: solid 10px;
    }
    body{
    background-image: radial-gradient(rgb(218, 38, 173),black);
    
    }
    li{
    
    
    font-size: 30px;
    color: white;
    }
    li:hover{
    
    color: rgb(98, 43, 226);
    font-size: 20px;
    }
    p{
    
    font-size: 20px;
    color: white;
    }